@*@model IEnumerable<ProjectManager.Models.TreeConstructorModel>*@
@model PagedList.IPagedList<ProjectManager.Models.TreeConstructorModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Tree constructor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tree constructor</h2>


<div class="row">
    <div class="col-md-9">
        <div class="row">
        @using (Html.BeginForm("TreeConstructIndex", "TreeConstructor", FormMethod.Get))
        {
            <p class="col-md-3">
                @Html.ActionLink("Add new item", "TreeConstructorAddView", "TreeConstructor", new {MasterItemID = 0, Level = 0}, new {@class = "btn btn-success btn-sm"})
            </p>
        }
        </div>
        <div class="row">
            <p>
                Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                <input type="submit" value="Search" />
            </p>
        </div>    
    </div>

    <div class="col-md-3">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("TreeConstructorListView",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>
</div>


<div class="table-responsive" style="min-height: 527px">
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("ID")
        </th>
        <th>
            @Html.ActionLink("Level", "TreeConstructorListView", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Item name", "TreeConstructorListView", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.DisplayName("Item description")
        </th>
        <th>
            @Html.ActionLink("Master ID", "TreeConstructorListView", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.DisplayName("Is branch?")
        </th>
        <th>
            @Html.DisplayName("Autocreate")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MasterItemID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsBranch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutoCreate)
            </td>
            <td>
                <div class="btn-group">
                    @Html.ActionLink("Add node", "TreeConstructorAddView", "TreeConstructor", new {MasterItemID = item.ID, Level = item.Level + 1}, new {@class = "btn btn-success btn-sm" })
                    @Html.ActionLink("Edit", "Edit", "TreeConstructor", new {id = item.ID}, new {@class = "btn btn-primary btn-sm" })
                    @Html.ActionLink("Details", "TreeConstructorDetailsView", "TreeConstructor", new { id = item.ID}, new {@class = "btn btn-info btn-sm" })
                    @Html.ActionLink("Delete", "Delete", "TreeConstructor", new {id = item.ID}, new {@class = "btn btn-danger btn-sm" })
                </div>
            </td>
        </tr>
    }

</table>
</div>

<div class="col-md-9">
</div>
<div class="col-md-3">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("TreeConstructorListView",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>



